extends Base
include mixins

block header
  +hero()

block pageContent
  section#software-section
    .row
      h1 Open Source Software
      .small-12.columns
        ul.small-block-grid-1.large-block-grid-3
          li
            .panel
              h2 Sundry
              p A dynamically configurable, load balancing, reverse proxy.
              p Sundry is a dynamic reverse proxy that supports evented load balancing and round robin
                | host addressing.
              h4 Multiple Paradigms.
              p Sundry can be run as a multi site request aggregator serving multiple backends on separate hostnames.
                | Or it can run as a single site load balancer, with dynamic addition and removal of backends
                | from a pool of servers.
              h4 SSL Ready.
              p With a wildcard ssl certificate Sundry can handle TLS termination before passing the request to a
                | backend server on a private network. It can also proxy ssl requests directly to a backend if you prefer
                | to terminate directly on a backend host.
              ul.inline-list
                li
                  a(href="https://github.com/PaperElectron/Sundry") github
                li
                  a(href="https://www.npmjs.com/package/sundry") npm
          li
            .panel
              h2 Pomegranate
              p A lightweight web application framework.
              h4 Recursive Route and Model loading.
              p Create your Route definitions and pomegranate will load them automatically. CouchDB and SQL model
               | definitions are loaded the same way.
              h4 Dependency Injection.
              p Route dependencies are automatically available via the Magnum DI Injection framework. Adding your own
                | dependencies is also a trival operation.
              ul.inline-list
                li
                  a(href="https://github.com/PaperElectron/pomegranate") github
                li
                  a(href="https://www.npmjs.com/package/pomegranate") npm
          li
            .panel
              h2 Magnum DI
              p A simple to use Key - Value dependency injection framework.
              h4 Lightweight.
              p Magnum DI doesn't try to dictate how you structure your application. Simply add dependencies then pass
                | a function to the injector and it will replace the parameters with the correct dependencies.
              h4 Easy Setup and Customization.
              p Magnum DI can handle plain objects, object factories and constructors. It can be used programically
               | with "injector.get("myDep")" or by using it to run a function with defined parameters.
              ul.inline-list
                li
                  a(href="https://github.com/PaperElectron/Magnum-Di") github
                li
                  a(href="https://www.npmjs.com/package/magnum-di") npm




  section#consulting-section
    .row
      h1 Consulting
      .small-12.columns
        ul.small-block-grid-1
          li
            .panel
              .row
                .small-12.columns
                  h3 Our focus is on solutions.
                  p The world is full of problems that need solving, and we expect that to remain true
                   | for the foreseeable future. Solving those problems is our passion.

  section#development-section
    .row
      h1 Development
      .small-12.columns
        ul.small-block-grid-1
          li
            .panel
              .row
                .small-12.columns
                  h3 Extraordinary ideas require extraordinary implementation.
                  p When off the shelf software doesnt cut it, we can help design and develop a system that does.
                    | Test driven development, coupled with continuous integration allows us to
                    | iterate as fast as possible.