mixin hero
  section#hero-section
    .row
      .small-12.medium-6.large-7.columns
        a(href='/')
          h1 paperElectron
        h3 Software development and consulting.
      .medium-6.large-5.columns.show-for-medium-up
        .logo
          img(src="/images/logo_small.png")
    .row
      .small-12.columns.small-centered
        ul.inline-list
          li
            a.head-link(href="http://blog.paperelectron.com") blog
          li
            a.head-link(href="https://github.com/PaperElectron") github
          li
            a.head-link(href="https://twitter.com/paperElectron") twitter
    .row
      .small-12.columns.show-for-small-only
        .logo
          img(src="/images/logo_small.png")

mixin tophead
  section#header-section
    .row
      .small-8.medium-6.large-7.columns
        a(href='/')
          h1 paperElectron
        h3 Software development and consulting.
      .small-4.medium-6.large-5.columns
        .logo
          img(src="/images/logo_small.png")