extends ../Base
include ../mixins
block header
  +tophead

block pageContent
  section#full-page-section
    .row
      .small-12.columns
        h1 Our Privacy Policy
        ul
          li
            p We do not collect information about site visitors,
              |other than the data that browsers send to every site in the process of making a request.

          li
            p We do not sell, trade or give away this data.

